<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807368771566-aocar351grhf0tgem7flkvok4jmb46q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807368771566-aocar351grhf0tgem7flkvok4jmb46q3</string>
	<key>API_KEY</key>
	<string>AIzaSyCR-zQxm7rUGLy9BqkjsFIaQAa2TbKlKtA</string>
	<key>GCM_SENDER_ID</key>
	<string>807368771566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dropNGo</string>
	<key>PROJECT_ID</key>
	<string>drop-n-go</string>
	<key>STORAGE_BUCKET</key>
	<string>drop-n-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807368771566:ios:11329ec0630237e02bb0ff</string>
</dict>
</plist>